.SquareSplit_game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
.square_board{
    height: 500px;
    width: 500px;
    margin:0px;
    padding: 0px;
    border: 1px solid black;
}
.Create_Square{
    height: 100%;
    width:100%;
    margin:0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns:1fr 1fr;   */
    background-color: bisque;
}
.small_square{
   
    margin:0px;
    padding: 0px;
    /* border: .01px solid black; 
    background-color: aqua; */
}

.right_line{
    border-right: .5px solid black;
}
.bottom_line{
    border-bottom:.5px solid black ;
}