.square {
    height: 100px;
    width: 100px;
    background-color:#123;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    /* color:white; */
    cursor: pointer;
    box-shadow:5px 5px 5px 5px rgb(248, 212, 157);
  
  }
  
  
  .board{
    /* width:1000px; */
    /* width:min-content; */
    margin:30px auto;
    display: grid;
   
  
    grid-template-columns:1fr 1fr 1fr;
    /* grid-template-rows:1fr 1fr 1fr; */
  
  
  
  }
  .ttt-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    /* background-color: rgb(248, 212, 157); */
    height:100vh;
    color:#123;
  }
  .start-player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
  
  }