.Home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   max-width: 800px;
   margin: 30px auto;
   gap:20px;
}
h3{
    margin: 0px;
    /* background-color: aqua; */
    text-align: center;
}