.Header_container {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  background-color: rgb(2, 36, 65);
  color: rgba(234, 180, 30) !important;
  padding: 10px 0px;
}
.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  color: rgba(234, 180, 30) !important;
}

.title {
  color: white !important;
}

.popover_list {
  font-size: 20px !important;
  font-weight: bold;
}
.smallscreen {
  display: none;
}
.bigscreen {
  display: flex;
}
.popover {
  display: none;
}
@media screen and (max-width: 426px) {
  .Header_container {
    padding: 10px 10px;
    gap: 25vw;
    align-items: center;
  }
  .bigscreen {
    display: none;
  }
  .smallscreen {
    display: block;
  }
  .popover {
    display: block;
  }

  .More_icon {
    height: 25px !important;
    width: 25px !important;
    background-color: rgb(2, 36, 65);
    color: rgba(234, 180, 30) !important;
  }
}
